@charset "utf-8";

/* Shop Page Stylesheet */

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* Filter and Search Criteria Section */

.filter {
	padding: 30px;
	background-color: #27ff9c;
	border-radius: 20px;
	margin: 20px auto 30px auto;
	display: block;
	align-content: center;
	width: 93%;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* Products Display */
